@model Tournament.net.Models.AccountViewModel

<h2>Participants</h2>

@for (int i = 0; i < ViewBag.number; i++)
{

        <div class="players">
           
            <label>Username:</label>
          <input type="text" placeholder="Enter username.." id="username" required="required" />
          <input class="AddGuest_btn" type="submit" value="Add player" />
          
        </div>
    }

    <input type="submit" id="play" value="Play">




<style type="text/css">


    label{
        color:#0D82B8;
        margin:20px;
    }
    input[type=text] {padding:3px; border:3px solid #8EDFF2; 

-webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {border-color:#0D82B8; }

input[type=submit] {padding:4px 10px; background:#AB1A17; border:0 none;
                    margin:20px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
</style>



<script src="~/Scripts/JavaScript/Henrik/HenrikMain.js"></script>