@model Tournament.net.Models.AccountViewModel

<h2>Deltagande</h2>
<p>@ViewBag.number</p>

@for (int i = 0; i < ViewBag.number; i++)
{

        <div class="players">

          <input type="text" placeholder="username" />
            @*<input name="btnGuest" onclick="execute(document.getElementsById('txtbox')[0].value)" type="button" value="Guest" />*@
            <input class="AddGuest_btn" type="submit" value="Guest" />

            @*<input type="button" id="btnGetUser" value="< Get User" class="btn btn-default" style='margin:10px;'>*@
            @*<input type="button" id="btnGuest" value="< Guest" class="btn btn-default" style='margin:4px;'>*@


        </div>


    }

}
<input type="submit" id="btnGoToNextPage" value="Play" class="btn btn-default">


<script src="~/Scripts/JavaScript/Henrik/HenrikMain.js"></script>