@model Tournament.net.Models.AccountViewModel

<h2>Participants</h2>
PS. To add Guests: just enter Username and skip the password.. then the program will see you as a guest player!
@for (int i = 0; i < ViewBag.number; i++)
{
    <div class="alfaWrap">
        <div class="wrap">
            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter username.." class="usernameInput" />
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password" class="passwordInput" />
            <input class="checkUser_btn" type="button" data-id="@i" value="Add player" /><br />
            <div class="errorDiv"></div><br />
        </div>
        <div class="warp2">
            <img class="img_From_Participants_SelectedAccount" src="" alt="Accimg" />
            <label class="Label_for_Username_img_From_Participants_SelectedAccount">UsernameHere</label>
            <input class="removePlayersInParticipanta_btn" type="button" value="Remove" />
        </div>
    </div>
}

<input type="button" data-PlayerNumber="@ViewBag.number" id="ParticipantsPlay_btn" value="Play">
<div id="startGamebtns_errorDiv"></div>



<style type="text/css">
    label {
        color: #0D82B8;
        margin: 20px;
    }

    input[type=text] {
        padding: 3px;
        border: 3px solid #8EDFF2;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        input[type=text]:focus {
            border-color: #0D82B8;
        }

    input[type=submit] {
        padding: 4px 10px;
        background: #AB1A17;
        border: 0 none;
        margin: 20px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
</style>
<script src="~/Scripts/JavaScript/Hampus/Participants.js"></script>

<script src="~/Scripts/JavaScript/Henrik/HenrikMain.js"></script>