@model Tournament.net.Models.TournamentViewModel

@{
    ViewBag.Title = "TournamentBracket";
}
<h2>TreeTest</h2>

<div ng-controller="TournamentBracketController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <h2>Champions</h2>
    <div class="row">
        <div class="col-xs-3" style="background-color:darksalmon">
            <div ng-repeat="p in Tournament.Players">
                <div class="row">
                    <div class="col-xs-12">
                        <div style="border-top:2px solid black;border:2px solid black">
                            <img style="width:30%" src="{{p.ImgURL}}" />
                            <span style="font-size:xx-large">{{p.UserName}}</span><br />
                            <span style="font-size:xx-large">Position: {{p.TournamentPosition}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=col-xs-8 style="background-color:green">
            @* TOP *@
            <div class="row" style="background-color:yellow">
                <div ng-repeat="p in Players">
                    <div class="col-xs-3">
                        <div>
                            <img style="width:100px" src="{{p.ImgURL}}" /><br />
                            <span style="font-size:xx-large">{{p.UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>
               @* Middle2 *@
            <div class="row" style="background-color:yellow">
                <div ng-repeat="p in Players">
                    <div class="col-xs-3">
                        <div>
                            <img style="width:100px" ng-src="{{p.ImgURL}}" /><br />
                            <span style="font-size:xx-large">{{p.UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            @* Bottom *@
            <div class="row" style="background-color:yellow">
                <div ng-repeat="p in Players">
                    <div class="col-xs-3">
                        <div>
                            <img style="width:100px" src="{{p.ImgURL}}" /><br />
                            <span style="font-size:xx-large">{{p.UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

