@model Tournament.net.Models.TournamentViewModel

@{
    ViewBag.Title = "TournamentBracket";
}
<h2>TreeTest</h2>

<div ng-controller="TournamentBracketController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <h2>Champions</h2>
    <div class="row">
        <div class="col-xs-3" style="background-color:darksalmon">
            <div ng-repeat="p in Tournament.Players">
                <div class="row">
                    <div class="col-xs-12">
                        <div style="border-top:2px solid black;border:2px solid black">
                            <img style="width:30%" ng-src="{{p.ImgURL}}" />
                            <span style="font-size:xx-large">{{p.UserName}}</span><br />
                            <span style="font-size:xx-large">Position: {{p.TournamentPosition}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=col-xs-8 style="background-color:green">
            <input type="button" value="START" ng-click="START()" />  
            <input id="btn_Shuffle" type="button" value="SHUFFLE" ng-click="SHUFFLE()" />        
          
            <div class="row" >
                <p>Start Round</p>
                <div ng-repeat="p in Round0">
                    <div class="col-xs-2">
                        <div>
                            <img style="width:100px" ng-src="{{p.ImgURL}}" /><br />
                            <span style="font-size:xx-large">{{p.UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <p>Round 2</p>
                <div ng-repeat="p in Round1">
                    <div class="col-xs-2">
                        <div>
                            <img style="width:100px" ng-src="{{p.ImgURL}}" /><br />
                            <span style="font-size:xx-large">{{p.UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <p>Round 3</p>
                <div ng-repeat="p in Round2">
                    <div class="col-xs-2">
                        <div>
                            <img style="width:100px" ng-src="{{p.ImgURL}}" /><br />
                            <span style="font-size:xx-large">{{p.UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <p>Round 4</p>
                <div ng-repeat="p in Round3">
                    <div class="col-xs-2">
                        <div>
                            <img style="width:100px" ng-src="{{p.ImgURL}}" /><br />
                            <span style="font-size:xx-large">{{p.UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <p>Round 5</p>
                <div ng-repeat="p in Round4">
                    <div class="col-xs-2">
                        <div>
                            <img style="width:100px" ng-src="{{p.ImgURL}}" /><br />
                            <span style="font-size:xx-large">{{p.UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>


            <input type="button" ng-click="ToNextRound()" value="send player to next round" />
        </div>
    </div>

</div>

