Game Type Selection Partial View

<div class="GameTypeChoices" id="GameTypeChoices">
    <button id="Tournament"></button>
    <button id="Highscore"></button>
</div>
<script src="~/Scripts/JavaScript/Henrik/HenrikMain.js"></script>
