
@{
    ViewBag.Title = "Index";
}
<input type="button" value="Highscore">
<div id="Highscore_Div">
    Highscore_Div
</div>
<input type="button" value="New Tournament">
<div id="NewTournament_Div">
    New tournament_Div
</div>


