
@{
    ViewBag.Title = "Index";
}
<link href="~/Styles/index.css" rel="stylesheet" />
<ng-view></ng-view>
<div class="hide" id="Top_Div_In_Index">
   
</div>
<div class="welcome">
    <img style="width: 80%; height: 80%;" src="~/Items/Images/Logotypes/tournlogo2.png" />

</div>
<div class="userChoice">
    @*<button type="button" class="btn btn-info btn-xlarge greyedout">Highscore</button>*@
    <button type="button" class="btn-xlarge2 greydout"></button>
</div>

<div id="Highscore_Div">
    Highscore_Div
</div>

<div id="NewTournament_Div">
    New tournament_Div
</div>


