
@{
    ViewBag.Title = "Index";
}
<link href="~/Styles/index.css" rel="stylesheet" />

<ng-view></ng-view>
<div class="hide" id="Spinner">
    @* Spinner *@
    <div id="firstSpinner" class="spinner icon-spinner-3" aria-hidden="true"></div>
</div>
<div class="hide" id="Top_Div_In_Index">
    @* Div for register/Login/Options and maybe some welcome thing *@
</div>
<div class="userChoice" id="UserChoice">
    @*<button type="button" class="btn btn-info btn-xlarge greyedout">Highscore</button>*@
    <button id="Start_btn" type="button" class="btn-xlarge2 greydout"></button>
</div>
<div class="hidden" id="SelectType">
    <h1>Nu syns jag</h1>
</div>


