
Nbr of Players Selection Partial View

<div class="NbrOfPlayersChoices" id="NbrOfPlayersChoices">
    <button id="fourbutton" class="btns"  data-value="4">4</button>
    <button class="btns" id="fivebutton" data-value="5">5</button>
    <button class="btns" id="sixbutton" data-value="6">6</button>
    <button class="btns" id="sevenbutton" data-value="7">7</button>
    <button class="btns" id="8button" data-value="8">8</button>
    <button class="btns" id="9button" data-value="9">9</button>
    <button class="btns" id="10button" data-value="10">10</button>
    <button class="btns" id="11button" data-value="11">11</button>
</div>
<script src="~/Scripts/JavaScript/Henrik/HenrikMain.js"></script>