
Nbr of Players Selection Partial View

<div class="NbrOfPlayersChoices" id="NbrOfPlayersChoices">
    <button id="1button">1</button>
    <button id="2button">2</button>
    <button id="3button">3</button>
    <button id="4button">4</button>
    <button id="5button">5</button>
    <button id="6button">6</button>
    <button id="7button">7</button>
    <button id="8button">8</button>
</div>