

<div class="NbrOfPlayersChoices" id="NbrOfPlayersChoices">
    <button id="fourbutton" class="btns"  data-value="4"></button>
    <button class="btns" id="fivebutton" data-value="5"></button>
    <button class="btns" id="sixbutton" data-value="6"></button>
</div>
<div class="NbrOfPlayersChoices" id="NbrOfPlayersChoices2">
    <button class="btns" id="sevenbutton" data-value="7"></button>
    <button class="btns" id="eightbutton" data-value="8"></button>
    <button class="btns" id="ninebutton" data-value="9"></button>
</div>
<div id="typeHolder" data-type="@ViewBag.type"></div>
<script src="~/Scripts/JavaScript/Henrik/HenrikMain.js"></script>