
@{
    ViewBag.Title = "InternalServer";
}

<link href="~/Styles/index.css" rel="stylesheet" />

<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">Internal Server Error</h3>

    <div class="error-desc">
        The server encountered something unexpected that didn't allow it to complete the request. We apologize for that.
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Go Back"
           onclick="window.location = 'http://localhost:22184/';" />

</div>