
@{
    ViewBag.Title = "NotFound";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Page Not Found</h3>

    <div class="error-desc">
        Sorry, The page you are looking for has not been found. Try checking the URL for error or try to found something else in our app.
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Go Back"
           onclick="window.location = 'http://localhost:22184/';" />
</div>

