body {
    font-family: 'Berlin Sans FB';
    background-color: #021e3d;
    color: #177eb3;
}
.nav.navbar-nav.navbar-right li a {
    font-family: 'Berlin Sans FB';
    color: #177eb3;
}
.nav.navbar-nav li a{
    font-family: 'Berlin Sans FB';
    color: #177eb3;
}

.navbar-inverse .navbar-brand {
    color: #177eb3;
    font-family: 'Berlin Sans FB';
    font-weight: 600;
    letter-spacing: -2px;
}
.welcome {
    text-align: center;
     color: #00ffd2;
    font-family: 'Berlin Sans FB';
    font-size: 70px;
    font-weight: 600;
}

.btn-xlarge2 {
    background-image: url('../Items/Images/startbutton small.png');
    width: 600px;
    height: 600px;
    background-color:transparent;
    border:none;
}
.btn-xlarge {
    text-align: center;
    color: #313131;
    font-size: 42px; 
    font-weight: 600;
    letter-spacing: -2px;
    line-height: normal;
    width: 400px;
    height: 200px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
            background-color: #00ffd2;
}
.btn-info:hover, .btn-info:focus{
    /*background-color: #00ffd2;*/
    color: white;
}
.btn-info{
    text-align: center;
}
.userChoice{
    text-align: center;
}


.greydout {
 
   opacity: 0.8;
}
.greydout:hover {
 
 
   opacity: 1;
}