@font-face {
    font-family: 'futura-pt-book';
    src: url('../fonts/futuraptbook.woff') format('woff');
}
@font-face {
    font-family: 'futurapt-heavy';
    src: url('../fonts/futuraptheavy.woff') format('woff');
}
body {
    font-family: 'Berlin Sans FB';
    background-color: #021e3d;
    color: #177eb3;
}
.nav.navbar-nav.navbar-right li a {
    font-family: 'Berlin Sans FB';
    color: #177eb3;
}
.nav.navbar-nav li a{
    font-family: 'Berlin Sans FB';
    color: #177eb3;
}

.navbar-inverse .navbar-brand {
    color: #177eb3;
    font-family: 'Berlin Sans FB';
    font-weight: 600;
    letter-spacing: -2px;
}
.welcome {
    width:78%;
    height:250px;
    margin:auto;
    background-image: url('../Items/Images/Logotypes/tournlogo2-ok 900.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition-property: background;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function:ease-out;
    -webkit-transition-delay: 100ms;
    transition: 0.5s;
}
    .welcome:hover {
     background-image: url('../Items/Images/Logotypes/tournlogo2-ok hover 900.png');
    -webkit-transition-property: background;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function:ease-in;
    -webkit-transition-delay: 100ms;
 
    }
.unhidden{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}
.btn-xlarge2 {
    visibility: visible;
    background-image: url('../Items/Images/Buttons/startbutton nohover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
    width: 290px;
    height: 290px;
    background-color: transparent;
    border: none;
    -webkit-transition-property: background;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function:ease-out;
    -webkit-transition-delay: 100ms;
}
.btn-xlarge2:hover {
    background-image: url('../Items/Images/Buttons/startbutton hover.png');
    -webkit-transition-property: background;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function:ease-in;
    -webkit-transition-delay: 100ms;
}
    .btn-xlarge2:active{
        background-image: url('../Items/Images/Buttons/startbutton pressed.png');
    }
.btn-xlarge2{
    outline-color:transparent;
}
 label {
        color: #0D82B8;
        margin: 20px;
    }

    input[type=text] {
        padding: 3px;
        margin:5px;
        border: 3px solid #8EDFF2;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        input[type=text]:focus {
            border-color: #0D82B8;
        }

         input[type=password] {
        padding: 3px;
          margin:5px;
        border: 3px solid #8EDFF2;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .checkUser_btn{
        padding: 4px;
        background: #AB1A17;    
        margin:5px;
        border: 3px solid #8EDFF2;
        cursor: pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;

    }





.btn-info:hover, .btn-info:focus{
    /*background-color: #00ffd2;*/
    color: white;

}
.btn-info{
    text-align: center;
}
.userChoice{
    text-align: center;
    
}
.userChoice button{
  margin: 13px 12px 12px 10px;
}
.greenButton {
    background-image: url('../Items/Images/Buttons/startbutton pressed.png');
}


.greydout {
 
   opacity: 1;
}
    .greydout:hover {
     
        opacity: 1;
    }

    #avatars {
   /*width: 6vw;*/
   height: 10vh;
}
   #qMark{
       width:50px;
       height:50px;
    }
#ParticipantsPlay_btn {
    background-image: url('../Items/Images/Buttons/startbutton hover.png');
}