
.btns:focus{
    outline-color:transparent;
}

.hide {
    visibility: collapse;
}

#firstSpinner {
    position: absolute;
    left: 71%;
    margin-top:17%;
   
}

#Tournament {
    border: none;
    background-color: transparent;
    width: 250px;
    height: 250px;
    background-size: 100%, 100%;
    background-image: url('../Items/Images/Buttons/tournament nohover.png');
    -webkit-transition-property: background;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 100ms;
}

    #Tournament:hover {
     
        background-image: url('../Items/Images/Buttons/tournament.png');
    
  
    }
    #Tournament:focus{
        outline-color:transparent;
    }

    #NbrOfPlayersChoices{
        display:block;
    }
      #NbrOfPlayersChoices2{
        display:block;
    }

#fourbutton {
    width: 160px;
    height: 160px;
     background-image: url('../Items/Images/Buttons/4button.png');
    border: none;
    background-color: transparent;   
    background-size: 100%, 100%; 
 
}

 #fourbutton:hover {
       
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/4button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
#fivebutton {
    width: 160px;
    height: 160px;
    background-image: url('../Items/Images/Buttons/5button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
    #fivebutton:hover {
       
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/5button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
#sixbutton {
    width: 160px;
    height: 160px;
    background-image: url('../Items/Images/Buttons/6button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
  #sixbutton:hover {
     
        background-image: url('../Items/Images/Buttons/6button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
#sevenbutton {
    width: 160px;
    height: 160px;
    background-image: url('../Items/Images/Buttons/7button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
 #sevenbutton:hover {
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/7button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }

 #eightbutton {
    width: 160px;
    height: 160px;
    background-image: url('../Items/Images/Buttons/8button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
 #eightbutton:hover {
        background-image: url('../Items/Images/Buttons/8button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }

#ninebutton {
    width: 160px;
    height: 160px;
    background-image: url('../Items/Images/Buttons/9button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
 #ninebutton:hover {
        background-image: url('../Items/Images/Buttons/9button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
   

    
#Highscore {
    border: none;
    background-color: transparent;
    width: 250px;
    height: 250px;
    background-size: 100%, 100%;
     background-image: url('../Items/Images/Buttons/highscore.png');
    -webkit-transition-property: background;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 100ms;
}

    #Highscore:hover {
        background-image: url('../Items/Images/Buttons/highscore nohover 350.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
    #Highscore:focus{
        outline-color:transparent;
        
    }

.GameTypeChoices {
    background-color: transparent;
}
#scoreBoard{
    width:80%;
    text-align:center;
   font-size:20px; 
    border-collapse:separate;
    border: solid #177eb3 1px;
    border-radius: 25px;
   
}
.NewScore{
    background-color:transparent;
    border:none;
}
.avatarClass {
    background-color: transparent;
    width: 50px;
    height: 50px;
    background-size: 100%, 100%;
    background-image: url('../Items/Avatars/N05.png');
}
#sbTableRow{
    border-radius:10px;
}
