


.hide {
    visibility: collapse;
}

#firstSpinner {
    position: absolute;
    left: 71%;
    margin-top:17%;
   
}

#Tournament {
    border: none;
    background-color: transparent;
    width: 350px;
    height: 350px;
    background-size: 100%, 100%;
    background-image: url('../Items/Images/Buttons/tournament nohover.png');
    -webkit-transition-property: background;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 100ms;
}

    #Tournament:hover {
     
        background-image: url('../Items/Images/Buttons/tournament.png');
    
  
    }
    #Tournament:focus{
        outline-color:transparent;
    }

    #NbrOfPlayersChoices{
        display:block;
    }
      #NbrOfPlayersChoices2{
        display:block;
    }

#fourbutton {
    width: 260px;
    height: 260px;
     background-image: url('../Items/Images/Buttons/4button.png');
    border: none;
    background-color: transparent;   
    background-size: 100%, 100%; 
 
}

 #fourbutton:hover {
        width: 260px;
        height: 260px;
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/4button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
#fivebutton {
    width: 260px;
    height: 260px;
    background-image: url('../Items/Images/Buttons/5button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
    #fivebutton:hover {
        width: 260px;
        height: 260px;
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/5button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
#sixbutton {
    width: 260px;
    height: 260px;
    background-image: url('../Items/Images/Buttons/6button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
  #sixbutton:hover {
        width: 260px;
        height: 260px;
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/6button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
#sevenbutton {
    width: 260px;
    height: 260px;
    background-image: url('../Items/Images/Buttons/7button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
 #sevenbutton:hover {
        width: 260px;
        height: 260px;
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/7button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }

 #eightbutton {
    width: 260px;
    height: 260px;
    background-image: url('../Items/Images/Buttons/8button.png');

    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
 #eightbutton:hover {
        width: 260px;
        height: 260px;
        background-size: 100%, 100%;
        background-image: url(''../Items/Images/Buttons/8button hover.png'');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }

#ninebutton {
    width: 260px;
    height: 260px;
    background-image: url('../Items/Images/Buttons/9button.png');
    border: none;
    background-color: transparent;
    background-size: 100%, 100%;
}
 #ninebutton:hover {
        width: 260px;
        height: 260px;
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/9button hover.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
   

    
#Highscore {
    border: none;
    background-color: transparent;
    width: 350px;
    height: 350px;
    background-size: 100%, 100%;
     background-image: url('../Items/Images/Buttons/highscore.png');
    -webkit-transition-property: background;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 100ms;
}

    #Highscore:hover {
        width: 350px;
        height: 350px;
        background-size: 100%, 100%;
        background-image: url('../Items/Images/Buttons/highscore nohover 350.png');
        -webkit-transition-property: background;
        -webkit-transition-duration: 300ms;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-delay: 100ms;
    }
    #Highscore:focus{
        outline-color:transparent;
        
    }

.GameTypeChoices {
    background-color: transparent;
}
#scoreBoard{
    width:80%;
    text-align:center;
   font-size:20px; 
   border:double;
   
}
.NewScore{
    background-color:transparent;
    border:none;
}
