Final Page Partial View
@model Tournament.net.Models.AccountViewModel


<div id="Finalpage">
    <h1>You are victorious</h1>
    <h2>Here is you're diploma</h2>

    <div id="Frame" style="height:300px">

        <div id="botom" style="position: absolute ">
            <img src="~/Items/Images/Default/Noback-medalj.png" style="width:300px; height:300px"> <br />


            @*<div id="top" style="left: 88px; top: 245px; position: absolute">*@
            <div id="top" style="left: 27%; top: 30%; position: absolute">

                <img src="@Model.ImgURL" style="width:140px; height:140px" />
            </div>
        </div>


    </div>
    @*<div id="botom" style=" position: absolute">*@
    
    

    <p id="bevistext">This is the evidence for the participants @Model.UserName deltagande samt seger inom tävlingen.</p>
    <div id="MPButons">
        <button id="Printdip_btn">Print out my diploma</button> <br />
        @*<input class="form-control" id="EmailAdd" name="Themail" type="text" value="Addres@test.mail" />
        <button id="Maildip_btn">Email my diploma</button>*@
    </div>
   


</div>


<hr/>

<script src="~/Scripts/JavaScript/Rikard/Rikardmain.js"></script>
