Final Page Partial View
@model Tournament.net.Models.AccountViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>Fu har vunit</h1>
    <h2>Here is a price</h2>
    <img src="" >
    <h3>Now beat it</h3>
    <button id="Printdip_btn">Brint out my diploma</button>
    <button id="Maildip_btn">Email my diploma</button>


}
<hr/>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JavaScript/Rikard/Rikardmain.js"></script>