Final Page Partial View
@model Tournament.net.Models.AccountViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>Du har vunit</h1>
    <h2>Här är dit diploma</h2>
    <img src="~/Items/Images/Default/medalj.jpeg" style="width:300px; height:300px" >
    
    <p id="bevistext">Detta är bevis för [namn] deltagande samt seger inom tävlingen [tävlingnamn].</p>
    <div id="MPButons">
        <button id="Printdip_btn">Print out my diploma</button>
        <button id="Maildip_btn">Email my diploma</button>

    </div>

}
@* Här under ska det så en lita av delatager *@
<hr/>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JavaScript/Rikard/Rikardmain.js"></script>