
@{
    ViewBag.Title = "ThankYou";
}

<h2>Thanks for registration!</h2>

<h3 class="alert alert-success">
    We have sent account Activation link to your mail id: @ViewBag.SentMailID. Please check and confirm.
</h3>

